.outcome-banner-fail {
    background-color: red;
    color: white;
    border-radius: 15px;
    padding: 10px;
    margin: 10px;
}

.outcome-banner-success {
    background-color: green;
    color: white;
    border-radius: 15px;
    padding: 10px;
    margin: 10px;
}