button {
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
}

#new-cat-form {
    display: none;
    width: 150px;
}

form * {
    margin: 5px;
}

#add-category {
    margin: 10px;
}

#container {
    margin: 0px 10px;
    padding: 10px;
    background-color: lightblue;
}

.category {
    background-color: lightgrey;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}

.cat-title {
    display: flex;
    gap: 10px;
}

.cat-title div {
    font-weight: bolder;
    font-size: 1.5rem;
}

.category table {
    width: 100%;
}

table td.check {
    width: 50px;
    text-align: center;
    overflow: hidden;
}

table td.duedate {
    width: 75px;
    text-align: center;
    overflow: hidden;
}

table td.priority {
    width: 75px;
    text-align: center;
    overflow: hidden;
}

table td.delete {
    width: 75px;
    text-align: center;
    overflow: hidden;
}

