<div class="message-div">
    <div class="message-text"><%= text %></div>
    <div class="message-info"><%= user %>, <%= date.toISOString().slice(0, 10) %></div>
    <a href="<%- link %>">More Info</a>
</div>