<div class="message-div">
    <div class="message-text"><%= text %></div>
    <div class="message-user"><%= user %></div>
    <div class="message-date"><%= date.toISOString().slice(0, 10) %></div>
</div>