.category-div {
    border: 2px dashed black;
    padding: 0px 5px 10px 5px;
    margin: 10px;
}

.item-li {
    display: flex;
    align-items: center;
}

.item-desc {
    margin-right: 5px;
    font-size: 20px;
}

.item-main-info {
    display: flex;
    align-items: center;
    border-top: 1px solid lightblue;
    border-bottom: 1px solid lightblue;
    padding: 5px;
    margin-bottom: 5px;
}

.item-button-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
}

.header {
    display: flex;
    align-items: center;
    gap: 10px;
}

#new-item-btn {
    text-decoration: none;
    color: black;
    background: lightgray;

    padding: 3px;

    border: 1px solid black;
    border-radius: 5px;
}