.top-bar {
    background-color: green;
    color: white;
    min-height: 25px;
    font-size: 18px;
    font-weight: bold;

    display: flex;
    align-content: center;
    justify-content: space-between;

    padding: 5px 15px;
}

.top-bar a {
    color: white;
    text-decoration: underline;
}

.outcome-banner {
    font-size: 12px;
}

#top-bar-link-div {
    display: flex;
    gap: 5px;
    margin: 0px;
    align-items: center;
    justify-content: flex-start;
}

#top-bar-button-div > button {
    border: 0px solid black;
    border-radius: 5px;
}

#top-bar-button-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hidden {
    display: none;
}