<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
<body>
  <h1><%= title %></h1>
  <%- include("../partials/errors.ejs") %>
  <form action="/create" method="POST">
    <label for="category">Category: </label>
    <input type="text" name="category" id="category" required>
    <label for="item_desc">Item: </label>
    <input type="text" name="item_desc" id="item_desc" required>
    <label for="quantity">Quantity: </label>
    <input type="number" min="0" max="100" name="quantity" id="quantity" value="0" required>
    <button type="submit">Submit</button>
  </form>
  <a href="/">Back to home</a>
</body>
</html>
