<!-- views/index.ejs -->
<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
    <div class="header">
        <h1><%= title %></h1>
        <a id='new-item-btn' href="/create">Add an item</a>
    </div>
    <% if (locals.items) {%>
        <% Object.keys(items).forEach(category => { %>
            <%- include('../partials/categoryView', {category: category}) %>
        <% }); %>
    <% } %>
    
</body>
</html>
