<!-- views/index.ejs -->
<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
</head>
<body>
    <h1><%= title %></h1>
    <% if (locals.items) {%>
        <% Object.keys(items).forEach(category => { %>
            <%- include('../partials/categoryView', {category: category}) %>
        <% }); %>
    <% } %>
    <a href="/create">Add an item</a>
</body>
</html>
