<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <% if (locals.currentUser) {%>
        <h1>WELCOME BACK <%= currentUser.username %></h1>
        <a href="/log-out">LOG OUT</a>
    <% } else { %>
        <h1>Welcome!</h1>
        <a href="/log-in">Log In</a>
        <a href="/sign-up">Sign Up</a>
    <% } %>
    
</body>
</html>
