.container {
    text-align: center;
}

#board-container {
    display: flex;
    flex-direction: row;
    gap: 25px;
    justify-content: center;
}

.board {
    background-color: aqua;
    margin: 10px auto;
    display: grid;
}

.square {
    outline: 1px solid black;
    margin: 5px;
}

.selected {
    outline: 3px solid black;
}

.quiet {
    background-color: grey;
}